@using SpaDay.ViewModel;

@model AddUserViewModel


<h1>Create Your Profile</h1>

<form method="post" asp-controller="User" asp-action="Add">

    <div>
        <label for="Username">Enter a Username: </label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label for="uname">First Name</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
         <label for="LastName">Last Name</label>
         <input asp-for="LastName" />
         <span asp-validation-for="LastName"></span>
    </div>
    <div>
          <label for="Password">Password</label>
          <input type="password" asp-for="Password" />
          <span asp-validation-for="Password"></span>
    </div>
    <div>
          <label for="Email">Enter Your Email</label>
          <input type="email" asp-for="Email"/>
          <span asp-validation-for="Email"></span>
    </div>
    <div>
          <label for="VerifyPassword">Re-enter Password</label>
          <input type="password" asp-for="VerifyPassword" />
          <span asp-validation-for="VerifyPassword"></span>
    </div>


    <input type="submit" value="Submit" />
</form>