@model List<User>
@foreach (User item in Model)
{
    ViewBag.fname = item.FirstName;
    ViewBag.email = item.Email;
    ViewBag.Date = item.join;
}

<h1>Welcome, @ViewBag.fname!</h1>



<a href="/Spa">Spa Form</a>


<footer>Email Address: @ViewBag.email
    <div>
    Member since: @ViewBag.Date    
    </div>
</footer>
